.nav{
    background-color: aqua;
    .navUl {
        border: 1px solid black;
        display: flex;
        font-size: 20px;
        .navLi {
            display: flex;
            justify-content: center;
            border: 1px solid red;
            list-style: none;
            .navLiA {
                border: 1px solid black;
                text-decoration: none;
                color: black;
                &:hover{
                    color: grey;
                }
            }
        }
    }
}

