* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- GENERAL SETTINGS --- */

/*  COLOR PALTETE:
    #053F5C --- PRUSSIAN BLUE
    #429EBD --- BOSTON BLUE
    #9FE7F5 --- BLIZZARD BLUE
    #F7AD19 --- DARK TANGERINE
    #F27F0C --- TANGERINE
*/

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura/Jura-VariableFont_wght.ttf);
}

/* --- BODY --- */
body {
  font-family: "Jura";
  height: 100%;
  background-color: #242526;
}


/* --- DESKTOP VIEWPORT FIRST --- */

/* --- NAVEGADOR --- */
.topnav {
  background-color: #666666;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.topnav a {
  float: left;
  display: block;
  color: #080907;
  padding: 1em 1.5em;
  font-size: 1.3em;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.topnav a:hover {
  background-color: #b5b5b5;
  color: black;
}

.topnav a.active {
  background-color: #8c8c8c;
  color: #080907;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #8c8c8c;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.movies {
  display: flex;
  flex-direction: column;
}
/* --- CAROUSEL DE PELICULAS --- */

.carousel {
  display: flex;
  margin: 2vh 2vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* --- tarjeta de pelicula --- */

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  background-color: #080907;
  color:#9FE7F5;
  border-radius: 25px;
  padding: 10px;
  position: relative; /* Added */
  margin: 0.7vw;
}

.poster {
  width: 85%;
  height: auto;
  border-radius: 25px;
  margin-bottom: 20px;
}

.name-price-trailer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.nameAndPrice {
  position: inherit;
  top: -40%;
  display: block;
  border-collapse: collapse;
  flex-direction: column;
}

.name {
  color: #9FE7F5;
  font-size: 1.35em;
  font-weight: bold;
  margin-top: 25px;
}

.price {
  font-size: 1.6em;
  color: #9FE7F5;
  margin-top: 5px;
}

.playTrailer {
  position: absolute;
  top: -15px; /* Adjust the value to position the button */
  right: -15px; /* Adjust the value to position the button */
  width: 48px; 
  height: 48px; 
  background-color: #F27F0C;
  left: 75%;
  top: -60%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Added */
}

.playIcon {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
}

.tablaMovie {
  position: relative;
  top: -5%;
  width: 100%;
  background-color: #080907;
}

.trMovie{
  background-color: #080907;
}

.thMovie,
.tdMovie {
  border: none;
  color: #fff;
  background-color: #080907;
  padding: 5px;
  text-align: left;
  text-transform: capitalize;
}
.btnAgregarCarrito {
  color: #fff;
  background-color: #000;
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* CARRITO */
.cartAndUser{
  width: 100%;
  margin-top: 75px;
}
.carrito {
  margin: 25px;
  background-color: #242526;
  width: 100%;
}
.carrito h2 {
  color: white;
}
.usuarios {
  margin: 25px;
  background-color: #b5b5b5;
}
.carritoUsuario {
  color: white;
}

/* --- TABLA CON ESTADISTICAS DE VENTAS --- */
.tablaDeVentas{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
table {
  border-collapse: collapse;
  width: 80vw;
  border-radius: 30px;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #429EBD;
}

tr:nth-child(even) {
  background-color: #F27F0C;
}

tr:nth-child(odd) {
  background-color: #F7AD19;
}

tr:hover {
  background-color: #eaf6ff;
}


/* --- ABM FORM --- */

.newMovieForm {
  display: flex;
  flex-direction: column;
  border: 1px;
  margin-top: 0.5%;
  margin-left: 1%;
  width: 25vw;
  height: 60vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.newMovieInput {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-style: italic;
  color: #27374d;
  border: none;
  outline: none;
  border-radius: 0.7em;
  padding: 2%;
  font-size: 1em;
  background-color: #dde6ed;
}

/* --- MEDIA QUERIES FOR MOBILE VIEWPORTS --- */

@media (max-width: 960px) {
  .carousel {
    margin: 0 2vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .movie {
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .poster {
    margin-top: 20px;
    width:100%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 20px;
  }
  .name-price-trailer {
    display: flex;
    width: 80%;
    justify-content: space-between;
  
    position: relative;
  }
  .nameAndPrice {
    display: flex;
    flex-direction: column;
  }
  .name {
    font-weight: bold;
    
  }
  .price {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
  }
  .playTrailer {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 48px;
    height: 48px;
    background-color: #F27F0C;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .playIcon {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
  }
  .tablaMovie {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  .trMovie {
    background-color: #fff;
  }
  .thMovie,
  .tdMovie {
    background-color: #fff;
    padding: 5px;
    text-align: center;
  }
}
